#scene1 {
    position: absolute;
    left: 20px;  
}

#scene2 {       
    position: absolute;
    left: 65px; 
}

#scene3 {       
    position: absolute;
    left: 110px;  
}

#scene4 {       
    position: absolute;
    left: 155px;   
}
#scene5 {
   
    position: absolute;
    left: 200px;  
}
#scene6 {       
    position: absolute;
    left: 245px;
}
#scene7 {   
    position: absolute;
    left: 290px;
}
#scene8 {       
    position: absolute;
    left: 335px;
}
#scene9 {   
    position: absolute;
    left: 380px;   
}
#scene10 {       
    position: absolute;
    left: 425px;
}
#scene11 {   
    position: absolute;
    left: 470px;  
}
#scene12 {       
    position: absolute;
    left: 515px;   
}
#scene13 {   
    position: absolute;
    left: 560px; 
}
#scene14 {       
    position: absolute;
    left: 605px;  
    
}