input {
    border:0; outline:none;
    user-select:none;    
}

.scene--card {
    position: absolute;
    left: 0px;
}

.scene {
    width: 88px;
    height: 139px;
    perspective: 600px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;


  }
  
  .card.is-flipped {
    transform: rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
  }
  
  .card__face--front {
    content:url(images/deck/back.png);
  }
  
  .card__face--back {
    transform: rotateY(-180deg);
    content:url(images/deck/Phoenix/0.5.png);
  }



.my_deck {   
    background: transparent;
    border-radius: 6px;
    height: 160px;
    margin: auto;
    margin-top: 30%;
    width: 711px;
    position: relative;
    z-index: 0;    
    bottom: -180px;
    
    /* Center card*/
    display: flex;
    align-items: center;
    justify-content: center;
    
  
  }

body {
    background: #4386ee;
}

.frame {
    position: relative;
    margin: auto;
    width: 1280px;
    height: 800px;
    border: 1px solid white;
    border-radius: 10px;
    background: url(images/background.jpg);
    box-shadow: 3px 3px 3px black;
}


.score_panel {
    position: relative;
    width: 100%;
    height: 70px;
    background: #3f1a16;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 3px 0px black;
    text-align: center;
}

#teams {
    font-size: 25px;
    font-style: normal;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: auto;
    color: white;    
}

.points {
    font-size: 25px;
    font-style: normal;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: auto;
    color: coral; 
}

#my_team {
    position: absolute;
    left: 530px;}

#enemy_team {
    position: absolute;
    right: 550px;
}



.button {
    background-color: white;
    border: none;
    color: white;
    padding: 20px;
    position: relative;
    
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    outline: none;
    cursor: pointer;
    
    
}

.chair {
    width: 80px;
    height: 70px;
    position: relative;
    right: 7px;
    bottom: 5px;
    
    
}


#btn1 {
    /*  center absolute element */
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto
}

#btn2 {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 100px;
    margin: auto;
}

#btn3 {
    position: absolute;
    top: 0;
    bottom: 50px;
    right: 100px;
    margin: auto;
}

footer {
    padding: 20px;
    text-align: center;
}

#play_btn {
    position: absolute;
    width: 100px;
    height: 40px;
    right: 50px;
}

.test {
    animation-name: floatBubble;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: absolute;
    top: -100px;
    border-radius: 3px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  #bomb_btn {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 200px;
    bottom: 200px;
    font-size: 20px;
}


.inDiv {
  text-align: center;
  height: 139px;
  align-items: start;

}

.outDiv {
  text-align: center;
  width: 100%; 
  height: 139px;
  position: absolute; 
  top: 305px;
}

.imgCard {

  border-radius: 9px;
  border-style: solid;
  border-width: 1px;
  width: 88px; 
  height: 139px;
  position: relative; 
}